<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>
    
   <%- include('./partials/nav.ejs') %>

    
      <div class="container center-align">
        <i class="large material-icons prefix">sentiment_very_dissatisfied</i>
        <h1>Oops!</h1>
        <h3>404 -- PAGE NOT FOUND</h3>
      </div>
      

</body>
</html>